@model IEnumerable<Dayboi_Web.ViewModels.BlogViewModel>
@{
    ViewBag.Title = "Tin tức - KidSwim";
    Layout = "~/Views/Shared/_Layout.cshtml";


    ViewBag.ImageHeader = "";
    ViewBag.LinkBanner = "google.com";
    ViewBag.ImageBanner = "assets/images/blog/post-2.jpg";
}

<div>
    <!-- HEADER TREE -->
    <section class="header-tree" data-speed="8" data-type="background">
        <!-- parallax background -->
        <div class="cover-1" style="background-image: url(@ViewBag.ImageHeader);" data-type="sprite" data-offsetY="-700" data-Xposition="50%" data-speed="-2"></div>
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <ul class="breadcrumb clearfix mar-top-2x">
                        <li><a class="link text-success" href="/">Trang chủ</a></li>
                        <li><a class="link" href="#">Tin tức</a></li>
                    </ul>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- HEADER TREE END -->
    <!-- BLOG POST BODY SECTION -->
    <section class="pattern-3 no-padding-right" style="padding-top:0px;">
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <!-- All blog posts -->
                    <div class="mar-top-lg row">
                        <!-- Left part -->
                        <div class="col-md-8 blog-main">
                            <section class="blog-post-list no-padding">
                                @foreach (var item in Model)
                                {
                                    <!-- .blog-post -->
                                    <article class="blog-post wow fadeInUp" data-wow-duration="1s">
                                        <span class="blog-date">
                                            @item.CreatedOn.Month
                                            <small class="blog-month">@item.CreatedOn.Year</small>
                                        </span>
                                        <div class="blog-body">
                                            <header class="entry-header">
                                                <a href="/blog/@item.Id/@item.Alias">
                                                    <img src="@item.Image" alt="post 3" class="img-responsive tableContentCell" />
                                                </a>
                                            </header>
                                            <h4 class="text-primary text-center mar-top-sm">@item.Title</h4>
                                            <p>
                                                @item.SortDescription
                                            </p>
                                            <div style="width:100%; text-align:center; ">
                                                <a style=" margin-left: 0px;" class="btn btn-primary text-uppercase" href="/blog/@item.Id/@item.Alias" role="button" title="continue reading">Xem chi tiết</a>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- /.blog-post -->
                                }
                            </section>
                            <!-- .navigation -->
                            <nav class="navigation paging-navigation">
                                <ul class="page-numbers pagination">
                                    <li><a class="next page-numbers pagination" href="#">Xem thêm</a></li>
                                </ul>
                            </nav><!-- /.navigation -->
                        </div>
                        <!-- /Left part -->
                        <!-- Right part -->
                        <div class="col-md-4 blog-sidebar">
                            <!-- Categories List -->
                            <div class="post-detail">
                                <div class="post-detail-body sep-xs" style="padding:0em;">
                                    <a href="@ViewBag.LinkBanner"><img src="@ViewBag.ImageBanner" alt="" class="img-responsive" /></a>
                                </div>
                            </div>
                            <!-- Categories List End -->
                            <!-- Popular Posts -->
                            <div class="post-detail mar-top-md">
                                <div class="post-detail-body sep-xs">
                                    <h3 class="text-primary text-uppercase text-center">TOP Bài viết</h3>
                                    <ul class="text-capitalize sidebar">
                                        @foreach (var item in ViewBag.TopBlogs)
                                        {

                                            <li>
                                                <a href="/blog/@item.Id/@item.Alias">
                                                    <span class="post-img">
                                                        <img src="@item.Image" alt="" class="img-responsive" />
                                                    </span>

                                                    <h4 class="text-uppercase text-success">@item.Title</h4>
                                                    <i class="text-muted small">@item.CreatedOn</i>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <!-- Popular Posts End -->
                            <!-- Tags -->
                            <!-- Tags End -->
                        </div>
                        <!-- /Right part -->
                    </div>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- BLOG POST BODY SECTION END -->
</div>
