<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <!-- Google Font -->
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Allerta+Stencil:400,700,900:normal" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core CSS -->
    <link href="~/assets/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <!-- Plugins CSS -->
    <link href="~/assets/css/normalize.css" type="text/css" rel="stylesheet" />
    <link href="~/assets/css/animate.css" type="text/css" rel="stylesheet" />

    <link href="~/assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/assets/css/owl.theme.css" rel="stylesheet" />
    <!-- Main CSS -->
    <link href="~/assets/css/style.css" type="text/css" rel="stylesheet" />
    <link href="~/assets/css/responsive.css" type="text/css" rel="stylesheet" />


    <link href="~/assets/alertifyjs/css/alertify.min.css" rel="stylesheet" />
    <!-- icons -->
    <link href="~/assets/css/iline-icons.css" type="text/css" rel="stylesheet" />
    <link href="~/assets/css/magnific-popup.css" type="text/css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    @RenderSection("Styles", required: false)

    <!-- Shortcut icon -->
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" type="image/x-icon" />
</head>
<body>
    <!-- NAVIGATION START -->
    @{ Html.RenderAction("Header", "Home");}
    <!-- NAVIGATION END -->
    <!-- MAIN CONTAINER -->
    <div class="main-content">
        <!-- container -->
        @RenderBody()
        <!-- //container -->
        <!-- BEGIN FOOTER -->
        @{ Html.RenderAction("Footer", "Home");}
        <!-- FOOTER END -->
        <!-- End Footer -->
    </div>
    @RenderSection("Modal", required: false);
    <!-- MAIN CONTAINER END -->
    <!-- Back to top -->
    <div id="back-to-top" class="back-to-top">
        <a href="#" class="icon iline2-thin16 no-margin"></a>
    </div>
    <!-- Back to top end -->
    <!-- Plugins JS -->
    <script src="~/assets/js/libs/jquery-1.11.2.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/libs/jqBootstrapValidation.js"></script>
    <script src="~/assets/js/knockout-3.4.2.js"></script>
    <script src="~/assets/js/knockout.mapping-latest.js"></script>
    <script src="~/assets/js/knockout.validation.min.js"></script>
    <script src="~/assets/js/libs/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/libs/imagesloaded.js"></script>
    <script src="~/assets/js/libs/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/libs/isotope.pkgd.min.js"></script>
    <script src="~/assets/alertifyjs/alertify.min.js"></script>
    <script src="~/assets/js/libs/ParallaxScrolling.js"></script>
    <script src="~/assets/js/libs/jquery.mailchimp.js"></script>
    <script src="~/assets/js/libs/wow.min.js"></script>
    <script src="~/assets/js/libs/jquery.fittext.js"></script>
    <script src="~/assets/js/libs/jquery.lettering.js"></script>
    <script src="~/assets/js/libs/jquery.textillate.js"></script>
    <!-- Main JS -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/Scripts/Client/header.js"></script>

    <script>
        $(document).ready(function () {
            var data = {};
            var options = {};
            options.GetCartLength = '@Url.Action("GetCartLength", "Cart")';
            data.API_URLs = options;
            var builder = new Header_MainModel(data);
            ko.applyBindings(builder, document.getElementById("default-navbar"));
        });

        window.onscroll = function () {
            myFunction()
        };

        var header = document.getElementById("header-top");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
                header.setAttribute("style", "right:0;left:0;");

            } else {
                header.classList.remove("sticky");
                header.removeAttribute("style", "right:0;left:0;");
            }
        }
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
