  <!-- BEGIN FOOTER -->
<footer class="page-footer" style="padding-bottom:0px;padding-top:0px;">
    <!-- FOOTER CONTENT -->
    <section class="blue cut-ccw02">
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <!-- .row -->
                    <div class="row">
                        <aside class="col-md-4 col-sm-6 col-xs-12 text-left">
                            <h1>DẠY BƠI TRẺ EM</h1>
                            <span class="line-sep-gray"></span>
                            <p>
                                Cung cấp các khóa học bơi
                                chuyên sâu dành cho trẻ em
                                mọi lứa tuổi.
                                <br />
                                HỌC ĐÚNG-BƠI KHỎE-KỸ NĂNG TỐT
                            </p>
                            <p>0969.79.2505 - 0899.49.2505</p>
                            <p>Email: </p>
                            <a href="mailto:#" target="_blank">cskh@kidswim.club</a><br />
                            <a href="mailto:#" target="_blank">kidswim.club@gmail.com</a><br />

                        </aside>
                        <aside class="col-md-4 col-sm-6 col-xs-12 text-left">
                            <!-- Copyright Informations -->
                            <h1>LIÊN KẾT NHANH</h1>
                            <span class="line-sep-gray"></span>
                            <p>
                                Sản phẩm

                            </p>
                            <p>
                                Khóa học
                            </p>
                            <p>
                                Tin tức
                            </p>
                            <p>
                                Liên hệ
                            </p>
                        </aside>
                        <aside class="col-md-4 col-sm-6 col-xs-12">
                            <h1>VỀ KIDSWIM</h1>
                            <span class="line-sep-gray"></span>
                            <!-- address -->
                            <p>

                                <a target="_blank" href="@Url.Action("AboutUs", "Feature")">   Về KidSwim</a><br />
                            </p>
                            <p>
                                <a target="_blank" href="@Url.Action("Storykid", "Feature")">  Câu Chuyện KidSwim </a>
                            </p>
                            <p>
                                <a target="_blank" href="@Url.Action("Tamnhin", "Feature")">  Tầm Nhìn KidSwim </a>
                            </p>
                            <p>
                                <a target="_blank" href="@Url.Action("Trietly", "Feature")"> Triết Lý Kinh Doanh </a>
                            </p>
                            <p>
                                <a target="_blank" href="@Url.Action("Congdong", "Feature")"> Giá Trị Đóng Góp Xã Hội
                                    </a>
                                
                            </p>
                            <!-- /address -->
                        </aside>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>
    <!-- /.container -->
    <!-- FOOTER CONTENT -->
</footer>
<!-- FOOTER END -->
