<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2&appId=1430997966993602&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!-- BEGIN FOOTER -->
<footer class="page-footer" style="padding-bottom:0px;padding-top:0px;">
    <!-- FOOTER CONTENT -->
    <section class="blue cut-ccw02">
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <!-- .row -->
                    <div class="row">
                        <aside class="col-md-3 col-sm-6 col-xs-12 text-left">
                            <h1>DẠY BƠI TRẺ EM</h1>
                            <span class="line-sep-gray"></span>
                            <p>
                                Cung cấp các khóa học bơi
                                chuyên sâu dành cho trẻ em
                                mọi lứa tuổi.
                                <br />
                                HỌC ĐÚNG-BƠI KHỎE-KỸ NĂNG TỐT
                            </p>
                        </aside>
                        <aside class="col-md-3 col-sm-6 col-xs-12 text-left">
                            <!-- Copyright Informations -->
                            <h1>LIÊN KẾT NHANH</h1>
                            <span class="line-sep-gray"></span>
                            <p>
                                <a target="_blank" href="@Url.Action("Baomat", "Feature")"> Chính sách bảo mật </a>

</p>
                            <p>
                                <a target="_blank" href="@Url.Action("Book", "Feature")">  Hướng dẫn đăng ký khoá học </a>
</p>
                            <p>
                                <a target="_blank" href="@Url.Action("index","blog")">Tin tức</a>
                            </p>
                            <p>
                                <a target="_blank" href="@Url.Action("Lienhe", "Feature")">Liên hệ</a>
                            </p>
                            <p>
                                <a target="_blank" href="@Url.Action("FAQ", "Feature")">F.A.Q</a>
                            </p>
                        </aside>
                        <aside class="col-md-3 col-sm-6 col-xs-12">
                            <h1>VỀ KIDSWIM</h1>
                            <span class="line-sep-gray"></span>
                            <!-- address -->
                            <p>
                                <a target="_blank" href="@Url.Action("AboutUs", "Feature")">Về KidSwim</a>
                            </p>
                            <p>
                                <a target="_blank" href="@Url.Action("Storykid", "Feature")">Câu Chuyện KidSwim</a>
                            </p>
                            <p>
                                <a target="_blank" href="@Url.Action("Tamnhin", "Feature")">Tầm Nhìn KidSwim</a>
                            </p>
                            <p>
                                <a target="_blank" href="@Url.Action("Trietly", "Feature")">Triết Lý Kinh Doanh</a>
                            </p>
                            <p>
                                <a target="_blank" href="@Url.Action("Congdong", "Feature")">
                                    Giá Trị Đóng Góp Xã Hội
                                </a>
                            </p>
                            <!-- /address -->
                        </aside>
                        <aside class="col-md-3 col-sm-6 col-xs-12">
                            <h1>FANPAGE</h1>
                            <span class="line-sep-gray"></span>
                            <div class="fb-page"
                                 data-href="https://www.facebook.com/kidSwim.club/"
                                 data-width="380"
                                 data-hide-cover="false"
                                 data-show-facepile="false">

                            </div>
                        </aside>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>

    <section class="blue cut-ccw02" style="padding:0px;">
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <!-- .row -->
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <p>Hotline: 0969.79.2505 - 0899.49.2505</p>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <p>
                                Email: <a href="mailto:#" target="_blank">kidswim.club@gmail.com</a>
                            </p>

                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <p>Bản quyền thuộc về <a href="https://swimcare.vn" target="_blank">Swimcare</a></p>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <!-- /.row -->
        </div>
    </section>
    <!-- /.container -->
    <!-- FOOTER CONTENT -->
</footer>
<!-- FOOTER END -->
