@model Dayboi_Web.ViewModels.HeaderModel

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .icon-cart {
        font-size: 18px;
        left: 8px;
        top: 9px;
        position: absolute;
        background-image: url("~/assets/images/logo.png");
    }

    .tikicon {
        vertical-align: middle;
    }

    @@media (max-width: 767px) {
        .navbar-nav .open .dropdown-menu {
            display: none !important;
        }
    }
</style>

<header class="fallone-navbar" id="default-navbar">

    <div class="top-bar" style="background: #1a3e84">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-3">
                    <div class="top-number">
                        <p>
                            <i class="fa fa-phone-square" style="font-size:24px ; color: white"></i>
                            <strong style="color:white">
                                HOTLINE: 0947.808.297
                            </strong>

                        </p>
                    </div>
                </div>
                <div class="col-sm-5 col-xs-5">
                    <div class="top-number">
                        <p>
                            <strong style="color:white">
                                FREE SHIP TOÀN QUỐC CHO ĐƠN HÀNG TRÊN 1 TRIỆU
                            </strong>

                        </p>
                    </div>
                </div>
                <div>
                    <div class="social" style="text-align:right">
                        <a href="https://www.facebook.com/dayboihcm" target="_blank">
                            <i class="fa fa-facebook-square" style="font-size:25px; color: white"></i>
                        </a>
                        <i class="fa fa-twitter-square" style="font-size:25px; color: white"></i>
                        <i class="fa fa-google-plus-square" style="font-size:25px; color:white"></i>
                        <i class="fa fa-youtube-square" style="font-size:25px; color: white"></i>
                    </div>
                </div>
            </div>



        </div><!--/.container-->
    </div><!--/.top-bar-->

    <nav class="navbar navbar-default" data-bind="with: headerModel">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="~/assets/images/logo.png" alt="Fallone logo" class="img-responsive" />
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">SHOP<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var category in Model.Categories)
                            {
                                <li>
                                    <a href="~/shop/@category.Id/@category.Alias">
                                        @category.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">Khóa học <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="@Url.Action("product","shop")">
                                    Kỹ thuật bơi công cộng
                                </a>
                            </li>
                            <li>
                                <a href="blog-standard-lsidebar.html">
                                    Kỹ thuật đứng nước
                                </a>
                            </li>
                            <li>
                                <a href="blog-standard.html">
                                    Kỹ thuật thở
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    Bơi sải trườn thấp
                                </a>
                            </li>
                            <li>
                                <a href="blog-post.html">
                                    Bơi bướm
                                </a>
                            </li>
                            <li>
                                <a href="blog-post-gallery.html">
                                    Bơi ngửa
                                </a>
                            </li>
                            <li>
                                <a href="blog-post-carousel.html">
                                    Bơi ếch
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hồ bơi <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-standard-rsidebar.html">
                                    Hồ bơi công cộng
                                </a>
                            </li>
                            <li>
                                <a href="blog-standard-lsidebar.html">
                                    Hồ bơi chung cư
                                </a>
                            </li>
                            <li>
                                <a href="blog-standard.html">
                                    Hồ bơi khách sạn
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    Hồ bơi trung tâm
                                </a>
                            </li>
                            <li>
                                <a href="blog-post.html">
                                    Hồ bơi quận
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li><a href="@Url.Action("index","blog")">Tin tức</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#">
                            @*<img src="~/assets/images/custom/cart.png" style="width: 100%" />*@
                            <span data-bind="text: NumberCart"></span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>

                        <ul class="dropdown-menu">
                            <li><a href="pricing-tables.html">Pricing Tables</a></li>
                            @if (!Request.IsAuthenticated)
                            {
                                <li><a class="text-primary" href="@Url.Action("login","account")">Đăng nhập</a></li>
                            }
                            @if (!Request.IsAuthenticated)
                            {
                                <li><a class="text-success" href="@Url.Action("register","account")">Đăng ký</a></li>
                            }
                            <li><a href="about.html">About</a></li>
                            <li><a href="terms.html">Terms</a></li>
                            <li><a href="contact.html">Contact</a></li>
                            <li><a href="icons.html">Icons</a></li>

                            @*//testdayboi*@
                            @if (Request.IsAuthenticated)
                            {

                                <li><a href="typography.html">@User.Identity.Name</a></li>
                                <li><a href="@Url.Action("logoff", "Account" )">Thoát</a></li>

                            }
                            else
                            {
                                <li><a href="typography.html">Typography</a></li>
                            }

                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>

<!-- NAVIGATION END -->
