@model Dayboi_Web.ViewModels.HeaderViewModel
<style>
    .icon-cart {
        font-size: 18px;
        left: 8px;
        top: 9px;
        position: absolute;
        background-image: url("~/assets/images/logo.png");
    }

    .tikicon {
        vertical-align: middle;
    }

    @@media (max-width: 767px) {
        .navbar-nav .open .dropdown-menu {
            display: none !important;
        }
    }

    .sticky {
        position: fixed;
        top: 0;
    }

    .header {
        width: 100%;
        background: #F6D565;
        padding: 15px 0;
    }
</style>

<header class="fallone-navbar" id="default-navbar">
    <div class="top-bar" style="background: #1a3e84" id="header-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <p style="font-size: 15px; padding-top: 12px;">
                        <i class="fa fa-phone-square" style="font-size:24px ; color: white"></i>
                        <strong style="color:white">
                            HOTLINE: 0947.808.297
                        </strong>
                    </p>
                </div>
                <div class="col-sm-6 col-xs-6 visible-lg">
                    <p style="font-size: 15px; margin-left: 63px;padding-top: 12px;">
                        <strong style="color:white">
                            FREE SHIP TOÀN QUỐC CHO ĐƠN HÀNG TRÊN 1 TRIỆU
                        </strong>
                    </p>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="social" style="text-align:right ; padding-top: 12px;">
                        <a href="https://www.facebook.com/dayboihcm" target="_blank">
                            <i class="fa fa-facebook-square" style="font-size:25px; color: white"></i>
                        </a>
                        <i class="fa fa-twitter-square" style="font-size:25px; color: white"></i>
                        <i class="fa fa-google-plus-square" style="font-size:25px; color:white"></i>
                        <i class="fa fa-youtube-square" style="font-size:25px; color: white"></i>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </div><!--/.top-bar-->

    <nav class="navbar navbar-default" data-bind="with: headerModel">
        <div class="container">
            <div style="width:auto; float:right; padding-top:12px;">
                <a href="@Url.Action("index","cart")" style="float:right;color:#fff;">
                    <i class="iline2-shopping57">Giỏ hàng:</i>
                    <span style="font-size:15px;" data-bind="text: NumberCart()"></span>
                </a>
            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <a class="navbar-brand" href="/" style="float:right;">
                    <img src="~/assets/images/logo.png" alt="KidSwim logo" class="img-responsive" />
                </a>
                <button style="float:left;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">Khóa học <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var course in Model.Courses)
                            {
                                <li>
                                    <a href="~/khoa-hoc/@course.Id/@course.Alias">
                                        @course.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hồ bơi <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var item in Model.PoolCategories)
                            {
                                <li>
                                    <a href="~/danh-muc-ho-boi/@item.Id/@item.Alias">
                                        @item.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Kỹ năng bơi <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var item in Model.Skills)
                            {
                                <li>
                                    <a href="~/ky-nang/@item.Id/@item.Alias">
                                        @item.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="~/cart">Sản phẩm<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @foreach (var category in Model.Categories)
                            {
                                <li>
                                    <a href="~/shop/@category.Id/@category.Alias">
                                        @category.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                    <li><a href="@Url.Action("index","blog")">Tin tức</a></li>
                    <li><a href="@Url.Action("Lienhe", "Feature")">Liên hệ</a></li>
                    <li><a href="@Url.Action("FAQ", "Feature")">F.A.Q</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tài khoản <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if (!Request.IsAuthenticated)
                            {
                                <li><a class="text-primary" href="@Url.Action("login","account")">Đăng nhập</a></li>
                                <li><a class="text-success" href="@Url.Action("register","account")">Đăng ký</a></li>
                            }
                            else
                            {
                                <li><a href="typography.html">@User.Identity.Name</a></li>
                                <li><a href="@Url.Action("logoff", "Account" )">Thoát</a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>

<!-- NAVIGATION END -->
@*<script>
        var header = document.getElementById('header-top');
        var origOffsetY = header.offsetTop;

        function onScroll(e) {
            window.scrollY >= origOffsetY ? header.classList.add('sticky') :
                                          header.classList.remove('sticky');
        }

        document.addEventListener('scroll', onScroll);
    </script>*@