@model Dayboi_Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Dạy bơi, các hoạt động bơi lội - KidSwim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <style>
        .validationMessage {
            color: #A8351C;
        }
    </style>
}
@section Scripts{
    <script src="~/assets/js/libs/moment.min.js"></script>
    <script src="~/Scripts/Client/page_home.js"></script>
    <script>
        $(document).ready(function () {

            var data = {};
            var apis = {};
            var options = {};
            data.Home = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));

            apis.RegisterCourse = '@Url.Action("RegisterCourse", "Home")';

            data.API_URLs = apis;
            data.Options = options;

            ko.applyBindings(MainModel(data), document.getElementById("main-page"));
        });
    </script>
}
<div id="main-page">
    <!-- Image Slider -->
    <section class="slider-content">
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <!-- .row -->
                    <div class="row">
                        <div class="col-xs-12 no-padding">
                            <div id="main-carousel" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#main-carousel" data-slide-to="1"></li>
                                    <li data-target="#main-carousel" data-slide-to="2"></li>
                                </ol>
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <!-- img src="~/~/assets/images/slider/Slider-1.png" alt="first slider image" /-->
                                        <div class="carousel-caption">
                                            <span class="caption-head" data-animation="animated bounceInLeft"><span class="text-success">HTML5</span> & <span class="text-primary">Wordpress</span> versions</span>
                                            <p class="text-center" data-animation="animated bounceInRight">are now ready for download.</p>
                                            <a class="btn btn-primary btn-lg" data-animation="animated zoomInUp" href="#">Get it now</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <!--img src="~/~/assets/images/slider/Slider-2.png" alt="second slider image" / -->
                                        <div class="carousel-caption">
                                            <span class="caption-head" data-animation="animated bounceInDown">A <span class="text-success">Joomla</span> version</span><br />
                                            <p class="text-center" data-animation="animated bounceInUp">will be available soon</p>
                                            <a class="btn btn-success btn-lg" data-animation="animated zoomInRight" href="#">Stay focus</a>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <!-- img src="~/~/assets/images/slider/Slider-3.png" alt="thirth slider image" / -->
                                        <div class="carousel-caption">
                                            <span class="caption-head" data-animation="animated zoomInLeft">Blog, Design & <span class="text-danger">Fun</span></span><br />
                                            <p class="text-center" data-animation="animated flipInX">Lorem ipsum dolor sit amet, consectetur adipisicing elit et dolore magna aliqua.</p>
                                            <a class="btn btn-danger btn-lg" data-animation="animated lightSpeedIn" href="#">Continue reading</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="slider-inner">
                                    <div class="boxed">
                                        <h1 class="text-primary wow fadeInDown text-uppercase" data-wow-duration="1.8s" data-wow-delay=".2s">Fallone</h1>
                                        <span class="line-sep-green"></span>
                                        <h3 class="text-white text-uppercase wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                            Awesome website theme based on <span class="text-success">Bootstrap</span> v.3.3.5.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /Image Slider -->
    <section class="blue cut-ccw02">
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <!-- .row -->
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <h2 class="uppercase wow fadeInDown" data-wow-duration=".8s" data-wow-delay=".2s">Dạy bơi trẻ em </h2>
                            <span class="line-sep-blue"></span>
                            <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                                Kid Swim hân hạnh mang đến bạn giải pháp dạy bơi trẻ em tốt nhât SG,
                                Dịch vụ 24/24 , hồ bơi chuyên nghiệp, các thầy cô tận tâm, được đào tạo chuẩn bơi Olymic.
                                Từng dạy cho vận động viên Ánh Viên giành huy chương vàng Olympic Việt Nam, thế vận hội Asiad.
                                KidSwim có mặt ở hầu hết các quận huyện ở HCM, Đăng ký nhanh gọn lẹ
                            </p>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="thumbnail mar-auto wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                <figure>
                                    <img src="~/assets/images/media/glass.jpg" class="img-responsive" alt="" />
                                    <div class="image-overlay">
                                        <p>
                                            <a href="~/assets/images/media/glass.jpg" class="show-image">
                                                <i class="iline2-arrows55"></i>
                                            </a>
                                        </p>
                                    </div><!--image overlay-->
                                </figure><!--/figure-->
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-3 mar-bottom-md" style="margin-bottom: initial;">
                        <div style="overflow: hidden; border: 1px dashed #00729E; padding: 15px 24px 10px 17px; -webkit-box-sizing: border-box;">
                            <img src="~/assets/images/works/i-11.png" />
                            <p style="float: right; width: 70%; text-transform: uppercase; font-size: 16px; font-weight: 500; padding-left: 10px;">
                                Cam kết
                                <br />
                                100% biết bơi
                            </p>
                        </div>

                    </div>
                    <div class="col-md-3 mar-bottom-md" style="margin-bottom: initial;">
                        <div style="overflow: hidden; border: 1px dashed #00729E; padding: 15px 24px 10px 17px; -webkit-box-sizing: border-box;">
                            <img src="~/assets/images/works/i-12.png" />
                            <p style="float: right; width: 70%; text-transform: uppercase; font-size: 16px; font-weight: 500; padding-left: 10px;">
                                THỜI GIAN
                                <br />
                                LINH ĐỘNG
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 mar-bottom-md" style="margin-bottom: initial;">
                        <div style="overflow: hidden; border: 1px dashed #00729E; padding: 15px 24px 10px 17px; -webkit-box-sizing: border-box;">
                            <img src="~/assets/images/works/i-13.png" />
                            <p style="float: right; width: 70%; text-transform: uppercase; font-size: 16px; font-weight: 500; padding-left: 10px;">
                                HUẤN LUYỆN VIÊN

                                NAM, NỮ
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3 mar-bottom-md" style="margin-bottom: initial;">
                        <div style="overflow: hidden; border: 1px dashed #00729E; padding: 15px 15px 10px 17px; -webkit-box-sizing: border-box;">
                            <img src="~/assets/images/works/i-14.png" />
                            <p style="float: right; width: 70%; text-transform: uppercase; font-size: 16px; font-weight: 500; padding-left: 10px;">
                                HUẤN LUYỆN VIÊN

                                KÈM RIÊNG
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pattern-3">
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <div class="col-md-12">
                    <h2 class="wow fadeInDown text-uppercase" style="text-align: center; ">Khoá Học</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel-group panel-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                <!-- ko foreach: Courses -->
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" data-bind="attr: {id: 'heading-'+ Id}">
                                        <div class="side-tab" data-bind="attr: {'data-target': '#tab-'+ Id}" data-toggle="tab" role="tab" aria-expanded="false">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" data-bind="attr: {href: '#collapse-'+ Id, 'aria-controls': 'collapse-'+Id}, text: Name, click: selectCourse" aria-expanded="true">
                                                </a>
                                            </h4>
                                        </div>
                                        <i class="icon iline2-arrow407"></i>
                                    </div>
                                    <!-- ko if: $index() == 0 -->
                                    <div data-bind="attr: {id: 'collapse-'+ Id, 'aria-labelledby': 'heading-'+ Id}" class="panel-collapse collapse in" role="tabpanel">
                                        <p class="panel-body no-margin-bottom">
                                            <span data-bind="text: Description"></span>
                                            <br />
                                            <a data-bind="attr: {href: '/khoa-hoc/'+ Id + '/'+Alias}" style="float:right; font-style:italic;">Xem chi tiết</a>
                                        </p>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if: $index() > 0 -->
                                    <div data-bind="attr: {id: 'collapse-'+ Id, 'aria-labelledby': 'heading-'+Id}" class="panel-collapse collapse" role="tabpanel">
                                        <p class="panel-body no-margin-bottom">
                                            <span data-bind="text: Description"></span>
                                            <br />
                                            <a data-bind="attr: {href: '/khoa-hoc/'+ Id + '/'+Alias}" style="float:right; font-style:italic;">Xem chi tiết</a>
                                        </p>
                                    </div>
                                    <!-- /ko -->
                                </div>
                                <!-- /ko -->
                                <div>
                                    <a style="width: 100%; border-radius: 8px; " class="btn btn-primary" data-toggle="modal" data-target="#myModal" role="button" title="Đăng ký" data-bind="text: 'Đăng ký: '+ RegisterCourseButtonName()"></a>
                                </div>
                            </div>
                        </div><!-- /.col-md-6 -->
                        <div class="col-md-6 hidden-xs">
                            <!-- begin notebook mockup -->
                            <div class="md-notebook md-glare">
                                <div class="md-lid">
                                    <div class="md-camera"></div>
                                    <div class="md-screen">
                                        <!-- content goes here -->
                                        <div class="tab-featured-image">
                                            <div class="tab-content">
                                                @{bool IsFirstImageCourse = true;}
                                                @foreach (var item in Model.Courses)
                                                {
                                                    if (IsFirstImageCourse)
                                                    {
                                                        <div class="tab-pane in active" id="tab-@item.Id">
                                                            <img src="@item.Image" alt="" class="img img-responsive" />
                                                        </div>
                                                        IsFirstImageCourse = false;
                                                    }
                                                    else
                                                    {
                                                        <div class="tab-pane in" id="tab-@item.Id">
                                                            <img src="@item.Image" alt="" class="img img-responsive" />
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end notebook mockup -->
                        </div> <!-- /.col-md-6 -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features -->
    <section class="white">
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <h2 class="wow fadeInDown text-uppercase" style="text-align: center; ">Kỹ năng bơi</h2>

                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <!-- .row -->
                    <div class="row">
                        @foreach (var item in Model.Skills)
                        {
                            <div class="col-md-6 mar-bottom-md">
                                <img src="@item.Image" />
                                <a href="~/ky-nang/@item.Id/@item.Alias">
                                    <h1 class="wow fadeInDown " data-wow-duration=".8s" data-wow-delay=".2s" style="color: royalblue;">@item.Name</h1>
                                </a>
                                <span class="line-sep-gray"></span>
                                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                    @item.Description
                                </p>
                            </div>
                        }
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /Features -->
    <section class="pattern-3">
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <h2 class="wow fadeInDown text-uppercase" style="text-align: center; color: #777777;">Tin Tức</h2>

                    <!-- Pricing Table -->
                    <div class="row">
                        @foreach (var item in Model.Blogs)
                        {
                            <div class="col-sm-3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                                <div class=" text-center mar-bottom-sm">
                                    <div  style="padding:0px;">
                                        <img src="@item.Image" />
                                    </div>
                                    <div class="panel-heading p15">
                                        <div class="no-margin" style="font-size: 17px; font-weight: bold; color: royalblue;">
                                            <a href="/blog/@item.Id/@item.Alias">@item.Title</a>
                                        </div>
                                    </div>
                                    <ul class="list-group">
                                        <li style="font-size: 15px;">
                                            @item.SortDescription
                                        </li>
                                        <li style="font-size: 15px; margin-left: -151px;font-size: 17px; color: blue;">
                                            <a href="/blog/@item.Id/@item.Alias">Xem thêm...</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- /Pricing Table -->
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
    </section>

    <section>
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div style="position: absolute;display: block;width: 114px; height: 50px; background: url(~/assets/images/works/i-title.png) no-repeat center center; left: 50%; transform: translateX(-50%); background-size: 100%;top: -20px;">
                        <img src="~/assets/images/works/i-title.png" />
                    </div>
                    <h2 class="wow fadeInDown text-uppercase" style="text-align: center;color:#125790;">Tại sao chọn dạy bơi Kid Swim</h2>
                    <div class="row" style="color:#125790">
                        <div class="col-md-4 mar-bottom-md" style="padding-top: 26px;">
                            <img src="~/assets/images/works/i-5.png" />
                            <ul style="padding-left: 92px; margin-top: -88px; font-size: 24px; letter-spacing: 0px;">Chất lượng được cam kết</ul>
                            <ul style="margin-left: 51px; font-size: 16px;">
                                Với các học viên trên 6 tuổi, dạn nước và hợp tác với HLV, chúng tôi cam kết sẽ biết bơi sau khóa học!
                            </ul>
                        </div>
                        <div class="col-md-4 mar-bottom-md" style="padding-top: 26px;">
                            <img src="~/assets/images/works/i-6.png" />
                            <ul style="padding-left: 92px; margin-top: -88px; font-size: 24px; letter-spacing: 0px;">Thời gian linh động</ul>
                            <ul style="margin-left: 51px; font-size: 16px;">
                                Bạn có thể tùy chọn lịch dạy bơi theo yêu cầu. Chúng tôi có thể linh động lịch học theo từng học viên.
                            </ul>
                        </div>
                        <div class="col-md-4 mar-bottom-md" style="padding-top: 26px;">
                            <img src="~/assets/images/works/i-7.png" />
                            <ul style="padding-left: 92px; margin-top: -88px; font-size: 24px; letter-spacing: 0px;">HLV tận tụy và đam mê</ul>
                            <ul style="margin-left: 51px; font-size: 16px;">
                                HLV được chúng tôi kiểm tra và đánh giá thường xuyên, để đảm bảo mang đến chất lượng tốt nhất cho bạn!
                            </ul>
                        </div>
                        <div class="col-md-4 mar-bottom-md" style="padding-top: 26px;">
                            <img src="~/assets/images/works/i-8.png" />
                            <ul style="padding-left: 92px; margin-top: -88px; font-size: 24px; letter-spacing: 0px;">Huấn luyện viên kèm riêng</ul>
                            <ul style="margin-left: 51px; font-size: 16px;">
                                Chúng tôi chỉ hướng dẫn học viên bạn đăng ký, và trực tiếp xuống nước hướng dẫn học viên!
                            </ul>
                        </div>
                        <div class="col-md-4 mar-bottom-md" style="padding-top: 26px;">
                            <img src="~/assets/images/works/i-9.png" />
                            <ul style="padding-left: 92px; margin-top: -88px; font-size: 24px; letter-spacing: 0px;">Có cả HLV Nam và Nữ</ul>
                            <ul style="margin-left: 51px; font-size: 16px;">
                                Tất cả HLV dạy bơi đều có bằng cấp chuyên môn và nhiều năm kinh nghiệm dạy bơi kèm riêng.
                            </ul>
                        </div>
                        <div class="col-md-4 mar-bottom-md" style="padding-top: 26px;">
                            <img src="~/assets/images/works/i-10.png" />
                            <ul style="padding-left: 92px; margin-top: -88px; font-size: 24px; letter-spacing: 0px;">HLV đi đến hồ bơi của bạn</ul>
                            <ul style="margin-left: 51px; font-size: 16px;">
                                Hoặc hồ bơi gần nhà bạn, trong khu dân cư của bạn. Hãy liên lạc chúng tôi để được tư vấn hồ bơi phù hợp
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="background-2">
        <div class="container">
            <!-- .row -->
            <div class="row">
                <div style="text-align: center;color:#ffffff; margin-top: -34px; font-size: 39px; margin-bottom: 26px;">Cảm nhận của học viên</div>
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <!-- Pricing Table -->
                    <div class="row">
                        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s" style="color:#ffffff">
                            <div style="color: #ffffff;">
                                <div>
                                    <img src="~/assets/images/works/ava-1.jpg" style="width: 90px;float: left; border-radius: 100%; margin-right: 15px;border: 2px solid white;" />
                                </div>
                                <div>
                                    <h4 style="font-size: 23px; font-weight: bold; color: white">Lê Thu</h4>
                                    <span>Phụ huynh bé Nguyễn An 7 tuổi</span>
                                </div>
                                <div style="color:#ffffff;margin-top: 37px;">
                                    Hơn 1 tháng cứ đến bể bơi là khóc hoăc đứng im biểu tình, Vậy giờ cũng đã bơi được rồi. Cám ơn các thầy cô tại Trung tâm dạy bơi Bình An, đặc biệt là thầy Nguyễn Văn A
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div style="color: #ffffff;">
                                <div>
                                    <img src="~/assets/images/works/ava-1.jpg" style="width: 90px;float: left; border-radius: 100%; margin-right: 15px;border: 2px solid white;" />
                                </div>
                                <div>
                                    <h4 style="font-size: 23px; font-weight: bold; color: white">Lê Thu</h4>
                                    <span>Phụ huynh bé Nguyễn An 7 tuổi</span>
                                </div>
                                <div style="color: #ffffff; margin-top: 37px;">
                                    Hơn 1 tháng cứ đến bể bơi là khóc hoăc đứng im biểu tình, Vậy giờ cũng đã bơi được rồi. Cám ơn các thầy cô tại Trung tâm dạy bơi Bình An, đặc biệt là thầy Nguyễn Văn A
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div style="color: #ffffff;">
                                <div>
                                    <img src="~/assets/images/works/ava-1.jpg" style="width: 90px;float: left; border-radius: 100%; margin-right: 15px;border: 2px solid white;" />
                                </div>
                                <div>
                                    <h4 style="font-size: 23px; font-weight: bold; color: white">Lê Thu</h4>
                                    <span>Phụ huynh bé Nguyễn An 7 tuổi</span>
                                </div>
                                <div style="color: #ffffff;margin-top: 37px;">
                                    Hơn 1 tháng cứ đến bể bơi là khóc hoăc đứng im biểu tình, Vậy giờ cũng đã bơi được rồi. Cám ơn các thầy cô tại Trung tâm dạy bơi Bình An, đặc biệt là thầy Nguyễn Văn A
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio -->
    <section class="pattern-3">
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <!-- .row -->
                    <div class="row">
                        <!-- .col-md-12 -->
                        <div class="col-md-12">
                            <h2 class="wow fadeInDown text-uppercase" style="text-align: center;">HỒ BƠI</h2>
                            <ul class="filter list-inline text-center">
                                <li><a class="active" href="#" data-filter="*">Tất cả</a></li>
                                @foreach (var item in Model.PoolCategories)
                                {
                                    <li><a href="#" data-filter=".@item.Id" class="">@item.Name</a></li>
                                }
                            </ul>
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                    <!-- .row -->
                    <div class="row">
                        <!-- .col-md-12 -->
                        <div class="col-md-12">
                            <!-- All works -->
                            <ul class="isotope-gallery col-3-gallery">
                                @foreach (var poolCategory in Model.PoolCategories)
                                {
                                    foreach (var pool in poolCategory.Pools)
                                    {
                                        <li class="gallery-item @poolCategory.Id">
                                            <div class="work-body text-center">
                                                <div class="thumbnail">
                                                    <figure>
                                                        <img src="@pool.Image" class="img-responsive" alt="" />
                                                        <div class="image-overlay">
                                                            <p>
                                                                <a href="/ho-boi/@pool.Id/@pool.Alias" style="width:100%;height:auto;">
                                                                    @pool.Name
                                                                </a>
                                                            </p>
                                                        </div><!--image overlay-->

                                                    </figure><!--/figure-->
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                            <!-- /All works -->
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    
    <!-- /Portfolio -->
    @Html.Partial("~/Views/Course/Partial/RegisterCourseModal.cshtml")
</div>