@model Dayboi_Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<!-- SIGN UP SECTION -->
<section class="text-white">
    <div class="cover-4"></div>
    <!-- .container -->
    <div class="container">
        <!-- .row -->
        <div class="row">
            <!-- .col-md-12 -->
            <div class="col-md-12">
                <!-- .row -->
                <div class="row">
                    <div class="col-md-4 col-md-offset-8 col-lg-offset-8 mar-bottom-md">
                        <h1 class="text-uppercase text-primary wow fadeInDown text-center">Đăng ký</h1>

                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "alert alert-danger", @style = "padding-left:0px;" })
                            if (TempData["SuccessRegister"] != null)
                            {
                                <div class="alert alert-success">
                                    @TempData["SuccessRegister"]
                                </div>
                                TempData["SuccessRegister"] = null;
                            }
                            <form action="/" method="post" class="mar-top-lg error wow fadeInUp" novalidate="" name="signupForm">
                                <!-- .form-group -->
                                <div class="form-group control-group">
                                    @Html.TextBoxFor(m => m.FullName, new { placeholder = "Họ và tên", @class = "form-control" })
                                    <p class="help-block"></p>
                                </div>
                                <!-- .form-group -->
                                <div class="form-group control-group">
                                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control" })
                                    <p class="help-block"></p>
                                </div>
                                <!-- .form-group -->
                                <div class="form-group control-group">
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { placeholder = "Số điện thoại", @class = "form-control" })
                                    <p class="help-block"></p>
                                </div>
                                <!-- .form-group -->
                                <div class="form-group control-group">
                                    @Html.PasswordFor(m => m.Password, new { placeholder = "Mật khẩu", @class = "form-control" })
                                    <p class="help-block"></p>
                                </div>
                                <!-- .form-group -->
                                <div class="form-group control-group">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Nhập lại mật khẩu", @class = "form-control" })
                                    <p class="help-block"></p>
                                </div>

                                <button type="submit" class="btn btn-success btn-full btn-lg">Đăng ký</button>
                            </form>
                        }
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- SIGN UP SECTION END -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
