@model Dayboi_Web.ViewModels.PoolCategoryViewModel

@{
    ViewBag.Title = "Danh mục Hồ bơi - KidSwim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <!-- HEADER TREE -->
    <section class="header-tree" data-speed="8" data-type="background">
        <!-- parallax background -->
        <div class="cover-1" style="background-image:url(@Model.Image)" data-type="sprite" data-offsetY="-700" data-Xposition="50%" data-speed="-2"></div>
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <ul class="breadcrumb clearfix mar-top-2x">
                        <li><a class="link text-success" href="/">Trang chủ</a></li>
                        <li><a class="link" href="#">@Model.Name</a></li>
                    </ul>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- HEADER TREE END -->
    <!-- BLOG POST BODY SECTION -->
    <section class="pattern-3 no-padding-right" style="padding-top:0px;">
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <!-- All blog posts -->
                    <div class="mar-top-lg row">
                        <!-- Left part -->
                        <div class="col-md-8 blog-main">
                            <section class="blog-post-list no-padding">
                                @foreach (var item in Model.Pools)
                                {
                                    <!-- .blog-post -->
                                    <article class="blog-post wow fadeInUp" >
                                        <div class="blog-body">
                                            <header class="entry-header">
                                                <a href="/ho-boi/@item.Id/@item.Alias">
                                                    <img src="@item.Image" alt="post 3" class="img-responsive tableContentCell" />
                                                </a>
                                            </header>
                                            <h4 class="text-primary text-center mar-top-sm">@item.Name</h4>
                                            <p>
                                                <i class="iline1-maps3">Địa chỉ: </i>@item.Address
                                            </p>
                                            <p>
                                                <i class="iline2-timer18">Thời gian mở cửa: </i>@item.OpeningHour AM - @item.ClosedHour PM (@item.OpeningDay)
                                            </p>
                                            <a class="btn btn-primary text-uppercase" href="/ho-boi/@item.Id/@item.Alias" role="button" title="continue reading">Xem chi tiết</a>
                                        </div>
                                    </article>
                                    <!-- /.blog-post -->
                                }
                            </section>
                        </div>
                        <!-- /Left part -->
                        <!-- Right part -->
                        <div class="col-md-4 blog-sidebar">
                            <!-- Categories List -->
                            <div class="post-detail">
                                <div class="post-detail-body sep-xs">
                                    <h3 class="text-primary text-uppercase text-center">Danh mục Hồ bơi</h3>
                                    <ul class="text-capitalize sidebar">
                                        @foreach (var category in ViewBag.PoolCategories)
                                        {
                                            <li><a href="~/danh-muc-ho-boi/@category.Id/@category.Name" class="iline1-spiral4">@category.Name</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <!-- Categories List End -->
                          
                           
                        </div>
                        <!-- /Right part -->
                    </div>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- BLOG POST BODY SECTION END -->
</div>
