@model Dayboi_Web.ViewModels.PoolViewModel

@{
    ViewBag.Title = Model.Name + " - KidSwim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="~/Scripts/Client/pool_detail.js"></script>
    <script>
        $(document).ready(function () {
            var data = {};
            var apis = {};
            var options = {};
            data.Pool = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));

            data.API_URLs = apis;
            data.Options = options;

            ko.applyBindings(MainModel(data), document.getElementById("main-page"));
        });
    </script>
}
<div id="main-page">
    <!-- HEADER TREE -->
    <section class="header-tree" data-speed="8" data-type="background">
        <!-- parallax background -->
        <div class="cover-1" data-type="sprite" data-offsetY="-700" data-Xposition="50%" data-speed="-2"></div>
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <ul class="breadcrumb clearfix mar-top-2x">
                        <li><a class="link text-success" href="/">Trang chủ</a></li>
                        <li><a class="link text-success" href="/">@Model.PoolCategoryName</a></li>
                        <li><a class="link" href="#">@Model.Name</a></li>
                    </ul>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- HEADER TREE END -->
    <!-- POST BODY SECTION -->
    <section class="pattern-3 no-padding-right" style="padding-top:0px;">
        <!-- .container -->
        <div class="container">
            <!-- .row -->
            <div class="row">
                <!-- .col-md-12 -->
                <div class="col-md-12">
                    <!-- All posts -->
                    <div class="mar-top-lg row">
                        <!-- Left part -->
                        <div class="col-md-8 blog-main">
                            <div class="post-detail ">
                                <figure class="no-margin">
                                    <img data-bind="attr:{src: Pool().Image}" alt="" class="img-responsive" />
                                </figure>
                                <div class="post-detail-body sep-xs">
                                    <h3 class="text-uppercase" data-bind="text: Pool().Name"></h3>
                                    <h4 class="text-uppercase" data-bind="text: 'Địa chỉ: ' + Pool().Address"></h4>
                                    <h4 class="text-uppercase" data-bind="text: 'Thời gian mở cửa: ' + Pool().OpeningHour +' AM - ' + Pool().ClosedHour + ' PM ' +' (' +Pool().OpeningDay+')'"></h4>
                                    <span class="line-sep-gray"></span>
                                    <div class="content" data-bind="html: showContent(Pool().Content)">

                                    </div>
                                    <div class="post-detail-bottom mar-top-sm">
                                        <p class="cat-links">
                                            <a class="text-capitalize" title="Tags"><i class="iline2-tag27 no-margin"></i></a>
                                            <!-- ko foreach: Tags -->
                                            <a href="#" data-bind="text: $data"></a>
                                            <!-- /ko -->
                                        </p>
                                    </div>
                                    <ul class="post-info pull-left">
                                        <li><i class="iline2-round27 text-primary"></i> <a href="#">@Model.CreatedOn</a></li>
                                    </ul>
                                    <span class="clearboth">
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- /Left part -->
                        <!-- Right part -->
                        <div class="col-md-4 blog-sidebar">
                            <!-- Popular Posts -->
                            <div class="post-detail">
                                <div class="post-detail-body sep-xs">
                                    <h3 class="text-primary text-uppercase text-center">Hồ bơi khác</h3>
                                    <ul class="text-capitalize sidebar">
                                        @foreach (var item in Model.OtherPools)
                                        {
                                            <li>
                                                <a href="#">
                                                    <span class="post-img">
                                                        <img src="@item.Image" alt="" class="img-responsive" />
                                                    </span>
                                                    <h4 class="text-uppercase text-success">@item.Name</h4>
                                                    <i class="text-muted small">@item.Address</i>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <!-- Popular Posts End -->
                            <!-- Tags -->
                            <div class="post-detail mar-top-md">
                                <div class="post-detail-body sep-xs">
                                    <h3 class="text-primary text-uppercase text-center">TAGS</h3>
                                    <p>
                                        <a class="label label-default" href="#">OK</a>
                                    </p>
                                </div>
                            </div>
                            <!-- Tags End -->

                        </div>
                        <!-- /Right part -->
                    </div>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- POST BODY SECTION END -->
</div>
