<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Shop</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="@Url.Action("Index", "Category")"><i class="fa fa-circle-o"></i> Danh sách Danh Mục</a></li>
                    <li><a href="@Url.Action("Create", "Category")"><i class="fa fa-circle-o"></i> Thêm Danh Mục</a></li>
                    <li><a href="@Url.Action("Index", "Product")"><i class="fa fa-circle-o"></i> Danh sách Sản Phẩm</a></li>
                    <li><a href="@Url.Action("Create", "Product")"><i class="fa fa-circle-o"></i> Thêm Sản Phẩm</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Bài viết</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="@Url.Action("Index", "BlogAdmin")"><i class="fa fa-circle-o"></i> Danh sách Bài viết</a></li>
                    <li><a href="@Url.Action("Create", "BlogAdmin")"><i class="fa fa-circle-o"></i> Thêm Bài viết</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Khoá học</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="@Url.Action("Index", "CourseAdmin")"><i class="fa fa-circle-o"></i> Danh sách Khoá học</a></li>
                    <li><a href="@Url.Action("Create", "CourseAdmin")"><i class="fa fa-circle-o"></i> Thêm Khoá học</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Hồ bơi</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("Index", "PoolCategoryAdmin")"><i class="fa fa-circle-o"></i> Danh mục Hồ bơi</a></li>
                    <li><a href="@Url.Action("Index", "PoolAdmin")"><i class="fa fa-circle-o"></i> Danh sách Hồ bơi</a></li>
                    <li><a href="@Url.Action("Create", "PoolAdmin")"><i class="fa fa-circle-o"></i> Thêm Hồ bơi</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

